<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      .view {
        display: block;
        background-color: goldenrod;
        text-align: center;
        height: 25px;
        line-height: 25px;
        width: 60%;
        margin-bottom: 5px;
      }
      #item {
        display: block;
        background-color: plum;
        text-align: center;
        height: 25px;
        line-height: 25px;
        width: 60%;
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      {{msg}}
      <span :[istitle]="message" class="view"
        >鼠标悬停几秒查看此处绑定的提示信息</span
      >
      <span class="view" v-if="seen">你现在看到我了</span>
      <div>
        <ul>
          <li id="item" v-for="(item,index) of list" :key="index">
            {{index+1}}-{{item.text}}-{{name}}
          </li>
        </ul>
      </div>
      <span class="view" @[event]="doSomething">点我试试看会发生什么</span>
      <span class="view">计算属性:{{docomputed}}</span>
      <span class="view" :class="classObject"></span>
      <div class="">
        <span class="view a" v-if="Math.random()>0.5"> 现在你看见我了</span>
        <span class="view b" v-else style="background-color: hotpink">
          now you don`t</span
        >
      </div>
      <span class=""
        ><ul>
          <li
            v-for="(item,index) of eventNumbers "
            style="display: inline-block;background-color: indianred; width: 7%;"
          >
            {{item}}
          </li>
        </ul></span
      >
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          msg: "Healer",
          istitle: "title",
          event: "click",
          message: "页面加载于:" + new Date().toLocaleTimeString(),
          seen: "true",
          list: [
            { text: "北京" },
            { text: "上海" },
            { text: "广州" },
            { text: "深圳" },
          ],
          number: null,
          classObject: {
            a: true,
            b: false,
            c: true,
          },
          numbers: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
        },
        computed: {
          docomputed() {
            return this.number * 10 + 3.14;
          },
          eventNumbers() {
            return this.numbers.filter(function (number) {
              return number % 2 === 0;
            });
          },
        },

        methods: {
          doSomething() {
            // alert("hey good evening! girl  you look so beautful tonight");
            this.number = prompt("输入一个数字：");
            // let num  = prompt("输入一个数字：");
            // console.log(typeof(num.parseInt()));
          },
        },
      });
    </script>
  </body>
</html>
